
[app]
Root_SDK_Dir = /Users/baiiu/Library/Android/sdk
PackageName = com.baiiu.zhihudaily
LauncherActivity = newsList.view.NewsListActivity
git_clone_address = https://github.com/baiiu/ZhihuDaily.git


[dir]
base_file_dir = /Users/baiiu/Desktop
create_dir_name = AndroidApp



[optional]
create_code_dir_name = SourceCode
create_apk_dir_name = Apk
